*{  box-sizing:border-box;}

body, html{
  background-color: white;
  margin:0;
  box-sizing:border-box;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.twentyfive{
  display:flex;
  width:100vw;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.twentyfive img{
max-width: 100%;
max-height: 100%;
}

.inner{
  width: 20vw;
  height: 20vh;
  text-align: center;
    /*border: 1px solid blue;*/
}


.pop{
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  display:flex;
  align-content: center;
  justify-content: center;
  border: 1px solid red;
}

.popblur{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  opacity: .8;
  background-color: white;
}

.pop img{
  max-height: 100vh;
  opacity: 1;
}